* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Serif SC", serif;
}

/* banner, background, title, navigation */
body {
  background-color: black;
}

#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(images/background.JPG);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#bannerTwo {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(images/background.JPG);
  background-size: cover;
  background-position: center;
  height: 100px;
}


.logo {
  position: absolute;
  top: 20px;
  left: 5%;
  font-size: 35px;
  color: white;
}

.banner-text {
  text-align: center;
  color: white;
  padding-top: 150px;
}

.banner-text h1 {
  font-size: 100px;
}

.banner-text p {
  font-size: 35px;
}

.bannerButtons {
  margin: 20px auto 0;
}

.bannerButtons a {
  width: 350px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  margin: 0 15px;
  padding: 10px 0;
  color: white;
  border: 0.5px solid white;
  transition: 0.5s;
}

.bannerButtons a:hover {
  background-color: rgb(255, 255, 255, 0.4);
}

/* side navigation bar */
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  background: rgba(10, 10, 10, 0.8);
  z-index: 1;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 25px 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.nav-open {
  width: 100px;
  background: transparent;
  text-decoration: none;
  position: fixed;
  right: 30px;
  top: 20px;
  text-align: center;
  padding: 5px 0;
  color: white;
  border: 0.5px solid white;
  opacity: 1;
  transition: 0.5s;
}

.nav-open:hover {
  background-color: rgb(255, 255, 255, 0.4);
}

#closeButton {
  width: 100px;
  display: block;
  background: transparent;
  border: 0.5px solid white;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 0;
  cursor: pointer;
  opacity: 1;
}

#closeButton:hover {
  background-color: rgb(255, 255, 255, 0.4);
  transition: 0.5s;
}

/* page one text */

.pageOne-text {
  text-align: center;
  color: white;
  padding-top: 100px;
}

.pageOne-text h1 {
  font-size: 35px;
  padding: 10px;
  margin-bottom: 10px;
}

.pageOne-text p {
  font-size: 20px;
  padding: 5px 0;
  /* margin-left: 15%; */
  /* margin-right: 15%; */
  line-height: 1;
}

.pageOne-text .textSection {
  background-color: black;
  padding: 25px;
  margin: 0 15%;
}

.textButtons a {
  width: 250px;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px 20px;
  padding: 5px 0;
  color: white;
  border: 0.5px solid white;
  transition: 0.5s;
}

.textButtons a:hover {
  background-color: rgb(255, 255, 255, 0.4);
}

.pageOne-text .pinYin {
  color: #e284f5;
  font-size: 18px;
  line-height: 1;
  display: none;
}

.pageOne-text .eng {
  color: #f08411;
  font-size: 18px;
  line-height: 1;
  display: none;
}

.personA {
  text-align: left;
  background-color:  #eed6d641;
  border-radius: 5px;
  padding: 5px;
  /* width: 80%;
  margin: auto; */
}

.personB {
  text-align: left;
  padding: 5px;
}

/* page one buttons  */
.textButtons .EngPin {
  background: transparent;
  width: 250px;
  text-decoration: none;
  display: inline-block;
  margin: 15px 15px 20px;
  padding: 5px 0;
  color: white;
  border: 0.5px solid white;
  transition: 0.5s;
}

.textButtons .EngPin:hover {
  background-color: rgb(255, 255, 255, 0.4);
}

/* table */
.table {
  margin-top: 100px;
}

table {
  width: 500px;
  height: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

thead {
  background-color: #05619c;
  height: 45px;
}

tbody {
  text-align: left;
}

td {
  font-size: 20px;
  background-color: #eed6d641;
  padding: 5px 20px;
}

/* test table  */
#testTableSection {
  padding-bottom: 75px;
}

#hoverExp {
  font-size: 16px;
}

.testTable {
  width: 50%;
}

.testTable td .answer {
  visibility: hidden;
}

@media (max-width: 700px) {
  /* main page */
  .logo {
    font-size: 20px;
    top: 25px;
  }

  #bannerTwo {
    height: 75px;
  }
  
  .banner-text h1 {
    font-size: 45px;
  }

  .banner-text p {
    font-size: 40px;
  }

  .bannerButtons a {
    display: block;
    margin: 20px auto;
    font-size: 20px;
  }

  /* page one  */
  .pageOne-text .textSection {
    padding: 10px;
    margin: 0;
  }

  .pageOne-text h1 {
    font-size: 16px;
  }

  .pageOne-text p {
    font-size: 18px;
    /* padding: 10px; */
    margin-left: 0%;
    margin-right: 0%;
    /* line-height: normal; */
  }

  .pageOne-text .pinYin {
    color: #e284f5;
    font-size: 16px;
    /* line-height: normal; */
    display: none;
  }

  .pageOne-text .eng {
    color: #f08411;
    font-size: 16px;
    /* line-height: normal; */
    display: none;
  }

  /* table */

  .table {
    margin-top: 100px;
  }

  table {
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
  }

  td {
    font-size: 16px;
    padding: 2% 2%;
  }

  /* td {
    font-size: 20px;
    background-color: #eed6d641;
    padding: 5px 20px;
  } */

  /* test table  */

  #testTableSection {
    padding: 0 0 175px;
  }

  #hoverExp {
    font-size: 14px;
  }

  .testTable {
    width: 100%;
  }
}
